@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  max-width: 550px;
}

body {
  justify-content: center;
  align-content: center;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.header--container {
  display: flex;
  background-color: #F55A5A;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  
}

.header--logo {
  width: 25px;
  margin-right: 8px; 
}

.header--title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1.5px;
  color: #FFFFFF;
}

.card-container {
  margin: 30px;
  display: flex;
  padding-bottom: 30px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.card--image {
  width: 50%;
}

.location--icon {
  width: 2%;
}

.card--details {
  padding-top: 15px;
  padding-left: 20px;
}

.span--tag {
  letter-spacing: 1.5px;
  font-size: 14px;
}

.url {
  font-size: 10px;
  color: gray;
  padding-left: 10px;
}

.card--title {
  margin-top: 3px;
}

.p {
  font-size: 10px;
  margin-top: -13px;
}